

<section class="template-404 h-screen flex flex-col justify-center items-center">

  <div class="max-w-[400px] flex flex-col items-center text-center">
    <h1 class="heading-1 mb-[30px]">
      {{ 'templates.404.title' | t }}
    </h1>

    <a href="{{ routes.all_products_collection_url }}" class="button block">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</section>
