<section></section>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
