<section class="w-full h-full flex items-center justify-center bg-white min-h-screen">

</section>

{% schema %}
    {
        "name": "Password Page",
        "settings": [],
        "presets": [
            {
                "name": "Password Page",
                "blocks": []
            }
        ]
    }
{% endschema %}
