<section class="bg-[#F1F1F1] layout--grid py-5">
  {% render 'dump' with section.settings.collection %}
  <div class="col-span-6 flex items-center justify-center">
    <div>
      <a href="{{ section.settings.collection.url }}">
        <h2 class="">
          {{ section.settings.collection.title }}
        </h2>
      </a>
    </div>
  </div>
  <div class="col-span-6">
    <a href="{{ section.settings.collection.url }}">
      <div class="group overflow-hidden">
        {% if section.settings.collection.image != blank %}
          {{
            section.settings.collection.image
            | image_url: width: 900
            | image_tag:
              loading: 'lazy',
              class: 'lg:group-hover:scale-[1.1] transition-all w-full h-auto relative flex object-center aspect-square object-cover'
          }}
        {% else %}
          <div class="aspect-square bg-[#120d0d]"></div>
        {% endif %}
      </div>
    </a>
  </div>
  <div class="col-span-12"></div>
</section>

{% schema %}
{
  "name": "Collection Listing",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection",
      "info": "Choose the collection (Brand) you'd like to feature"
    }
  ],
  "presets": [
    {
      "name": "Collection Listing",
      "blocks": []
    }
  ]
}
{% endschema %}
